In [1]:
def SeeYou() :
    print("time to say Good Bye !!")
def Hi ():
    print("Welcome to this code")

In [2]:
Hi()
a = 15
b = a-10
print (a+3)
if b>5 :
    print ("Value of 'a' was more than 15 initially.")
else :
    print ("Value of 'a' was 15 or less initially.")
SeeYou()

Welcome to this code
18
Value of 'a' was 15 or less initially.
time to say Good Bye !!

In [3]:
name= input("Enter your name - ")
age = int(input("Enter your age - "))
print("My name is {} and my age is {} . ".format(name , age))

Enter your name - Aditya Kumar Tripathi
Enter your age - 20
My name is Aditya Kumar Tripathi and my age is 20 .

In [4]:
##changing the value of seperator using sep argument
print("Five consecutive ages are - " "13", "14", "15", "16", "17" " respectively" , sep="('^') ")

Five consecutive ages are - 13('^') 14('^') 15('^') 16('^') 17 respectively

In [5]:
a=20
b=30
print("a=",a ,end='')
print(" b=",b)

a= 20 b= 30

In [6]:
# program to obtain three numbers and printing their sum
num1=int(input("Enter the first number: "))
num2=int(input("Enter the second number: "))
num3=int(input("Enter the third number: "))
Sum= num1+num2+num3
print("The sum of these three numbers is:",Sum)

Enter the first number: 12
Enter the second number: 12
Enter the third number: 14
The sum of these three numbers is: 38

In [7]:
num1=int(input("Enter the first number: "))
num2=int(input("Enter the second number: "))
num3=int(input("Enter the third number: "))
Sum= num1+num2+num3
print ("First number is",num1,end='')
print (", Second number is",num2,end='')
print(", Third number is",num3)
print("The sum of these three numbers is -",Sum)

Enter the first number: 13
Enter the second number: 14
Enter the third number: 15
First number is 13, Second number is 14, Third number is 15
The sum of these three numbers is - 42

In [8]:
# printing area of square
length= int(input("Enter the length- "))
breadth= int(input("Enter the breadth- "))
area= length * breadth
print ('Length=', length,end='')
print(' Breadth=', breadth) 
print ("Area=",area)

Enter the length- 13
Enter the breadth- 10
Length= 13 Breadth= 10
Area= 130

In [9]:
# printing the item , selling price,gst(sgst,cgst),invoice at the top, amount payable
item=input("Enter the item: ")
sp=int(input("Enter the price of "+ item +": "))
gst=int(input("Enter the rate of GST (%) of "+ item +": " ))
cgst = sp*((gst/2)/100)
sgst = cgst
amount = cgst +sgst +sp

print("\tINVOICE")
print ("ITEM: ",item)
print ("Price: ",sp)
print("CGST @ (", gst/2 ,"%): ",cgst)
print("SGST @ (", gst/2 ,"%): ",sgst)
print("Amount Payable: ",amount)

print ("Thankyou for shopping with us.")
print("       Visit Again!")

Enter the item: television
Enter the price of television: 70000
Enter the rate of GST (%) of television: 12
	INVOICE
ITEM:  television
Price:  70000
CGST @ ( 6.0 %):  4200.0
SGST @ ( 6.0 %):  4200.0
Amount Payable:  78400.0
Thankyou for shopping with us.
       Visit Again!

In [11]:
# print the amount and buying price of an item along with cgst and sgst
item=input("Enter the item: ")
sp=float(input("Enter the selling price of " +item + ": "))
gst= float(input("Enter GST rate (%): "))
cgst = sp*((gst/2)/100)
sgst=cgst
amount = sgst +cgst+ sp

print("\tINVOICE")
print("ITEM: ",item)
print("PRICE: ",sp)
print("CGST @(",(gst/2),"%): ",cgst)
print("SGST @(",(gst/2),"%): ",sgst)
print ("Amount Payable: ",amount)
print ("Thankyou, visit again!")

Enter the item: Fridge
Enter the selling price of Fridge: 112000
Enter GST rate (%): 18
	INVOICE
ITEM:  Fridge
PRICE:  112000.0
CGST @( 9.0 %):  10080.0
SGST @( 9.0 %):  10080.0
Amount Payable:  132160.0
Thankyou, visit again!

In [5]:
item=input("Enter the item: ")
sp= int(input("Enter the price of " +item + ":"))
gst= int(input("Enter the GST rate(%)"))
insr= ((sp/100)*2)
sgst= sp* ((gst/2)/100)
cgst= sp* ((gst/2)/100)
amount= sgst+ cgst +sp+insr

print ("\tINVOICE")
print ("ITEM: ",item)
print ("PRICE: ",sp)
print ("CGST @ (" ,gst/2, "%)",cgst)
print ("SGST @ (" ,gst/2, "%)",sgst)
print("INSURANCE: ",insr)
print("AMOUNT PAYABLE: ",amount)
print ('''Thankyou for shopping with sunny TOYOTA.
             Visit again!''')

Enter the item: Toyota Fortuner
Enter the price of Toyota Fortuner:4400000
Enter the GST rate(%)18
	INVOICE
ITEM:  Toyota Fortuner
PRICE:  4400000
CGST @ ( 9.0 %) 396000.0
SGST @ ( 9.0 %) 396000.0
INSURANCE:  88000.0
AMOUNT PAYABLE:  5280000.0
Thankyou for shopping with sunny TOYOTA.
             Visit again!

# solved problems

In [13]:
# 13
name= "Aditya"
print("My name is ",name)

My name is  Aditya

In [1]:
#14 and 15
number=int(input("Enter number: "))
DoubleTheNumber= number*2
print("Double the number of number is: " ,DoubleTheNumber)

Enter number: 23
Double the number of number is:  46

In [15]:
#16
name="Rehman"
print ("Greetings!!!")
print("Hello ",name)
print("Hoe do you do?")

Greetings!!!
Hello  Rehman
Hoe do you do?

In [18]:
#17
'''
cgos : cost of goods sold
revenue: amount at which goods are sold
pl : profit or loss
'''
cgos=float(input("Enter cost of goods sold: "))
revenue=float(input("Enter revenue amount: "))
pl = revenue-cgos
profit_prct= pl/cgos*100

print("Cost of goods sold: ",cgos)
print("Revenue from selling goods: ",revenue)
print("Profit: ",pl)
print("Profit%: ",profit_prct)

Enter cost of goods sold: 32000
Enter revenue amount: 42000
Cost of goods sold:  32000.0
Revenue from selling goods:  42000.0
Profit:  10000.0
Profit%:  31.25

# assignment

In [19]:
#2(ii)
a=30
b=a+20
print ("Value of a and b is ",a ,"and",b,"respectively")

Value of a and b is  30 and 50 respectively

In [22]:
#(iii)
a,b,c= 2,8,9
print(a,b,c)
c,b,a=a,b,c
print(a,b,c)

2 8 9
9 8 2

In [24]:
#(v)
print("x=")

x=

In [27]:
#3(i)
x=10
x=x+10
x=x-5
print(x)
x,y=x-2,22
print(x,y)

15
13 22

In [29]:
# (ii)
first=2
second=3
third=first*second
print(first,second,third)
first=first+second+third
third = second+first
print(first,second,third)

2 3 6
11 3 14

In [34]:
# (iii)
side=int(input("side: "))
area=side * side
print("if side is:",side, ", then ares will be:",area)

side: 13
if side is: 13 , then ares will be: 169

In [36]:
#4 (ii)
name= "Prejith"
age=26
print("Your name and age are:", name,",",age)

Your name and age are: Prejith , 26

In [40]:
#19
print (float(input("value1:")))

value1:89
89.0

In [43]:
#20
days=int(input("Input days: ")) *3600*24
hours=int(input("Input hours: "))*3600
minutes=int(input("Input minutes: "))*60
seconds=int(input("Input seconds: "))
time= days+hours+minutes+seconds
print ("the amount of seconds: ",time)

Input days: 1
Input hours: 2
Input minutes: 3
Input seconds: 4
the amount of seconds:  93784

# Practice questions

In [50]:
#1
print("Why is 6 afraid of 7? ")
input("Press enter")
print("because 7 8 (ate) 9:-)")

Why is 6 afraid of 7?
Press enter
because 7 8 (ate) 9:-)

In [54]:
#2
day= int(input ("Enter today's date: "))
total_days = int(input ("Total number of days in this month: "))
days_remaining= total_days - day
print(days_remaining ,"days are remaining in this month.")

Enter today's date: 21
Total number of days in this month: 31
10 days are remaining in this month.

In [55]:
#3
a=5
print(a)
print(a*2)
print(a*2-(1))

5
10
9

In [1]:
#5
a=int(input("Enter a number: "))
b,c,d,e=a*2,a*3,a*4,a*5
print(a,b,c,d,e)

Enter a number: 5
5 10 15 20 25

In [58]:
#6
maths=int(input("Enter the marks obtained in Mathematics: "))
eng=int(input("Enter the marks obtained in English: "))
hin=int(input("Enter the marks obtained in Hindi: "))
sci=int(input("Enter the marks obtained in Science: "))
sst=int(input("Enter the marks obtained in Social Studies: "))
average_marks= (maths+eng+hin+sci+sst)/5
print("The average marks of 5 subjects of this particular student is: ",average_marks)
if (average_marks>90):
    print("The performance of this student is exceptional")
else:
    print("This student has hidden potential which is required to be unlocked")

Enter the marks obtained in Mathematics: 89
Enter the marks obtained in English: 88
Enter the marks obtained in Hindi: 87
Enter the marks obtained in Science: 90
Enter the marks obtained in Social Studies: 89
The average marks of 5 subjects of this particular student is:  88.6
This student has hidden potential which is required to be unlocked

In [2]:
#7
cm=int(input("Enter your height in centimetres: "))
inch= cm/2.54
feet= inch//12
inches= inch%12
print("Your height is ",feet,"feet and ",inches,"inches")

Enter your height in centimetres: 178
Your height is  5.0 feet and  10.078740157480311 inches

In [3]:
#8
n=int(input("Enter the value of n: "))
print(n**2,n**3,n**4)

Enter the value of n: 4
16 64 256

In [12]:
#9
p= float(input("Enter principal amount: "))
r= float(input("Enter the rate of interest: "))
t= int(input("Enter the time: "))
si = (p*r*t)/100
ci= p*(((1+(r/100))**t)-1) 
print("Simple interest- ",si)
print("compound interest- ",ci)

Enter principal amount: 10000
Enter the rate of interest: 4
Enter the time: 4
Simple interest-  1600.0
compound interest-  1698.5856000000022

In [13]:
#10
n1=int(input("Enter the number you want to multiply: "))
n2,n3,n4,n5= (n1*2,n1*3,n1*4,n1*5)
print(n1,n2,n3,n4,n5)

Enter the number you want to multiply: 5
5 10 15 20 25

In [16]:
#11
n=input("Enter the nameof the student: ")
c= (input("Enter the class of the student: "))
a= int(input("Enter the age of the student: "))
print ("The name is",n,", class is",c,"and age is",a,".")
print()
print()
print (n)
print(c)
print(a)

Enter the nameof the student: Manohar
Enter the class of the student: 11th
Enter the age of the student: 18
The name is Manohar  , class is 11th and age is 18 .


Manohar
11th
18